$color-primary:#49111C;
$color-secondary:#0A0908;
$color-buttons:#EAD2AC;
$color-darkcoffee:#31231E;
$color-lightcoffee:#5E503F;
$color-footer:#424B54;
$color-red:#EDAFB8;
$color-blue:#483D8B;
$color-accent:#00BFFF;
$color-hover:#563635;
$color-nav:#EABA6B;
$color-text:#EAD2AC;