@import "../scssVariables/basic/colors";
@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Poppins:wght@400;700&display=swap');

.header {
  width: 100%;
  background-color: $color-primary;
  z-index: 100;
  padding: 1rem;

  .nav__container {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__logo {
      display: flex;
      align-items: center;
      gap: 1rem;

      &-image {
        width: 100px;
        height: auto;
        border: 1px solid transparent;
        border-radius: 50%;
      }

      &-text {
        font-family: 'Chela One', sans-serif;
        color: $color-text;
        font-size: 3rem;
      }
    }

    .nav__menu {
      display: block;

      .nav__menu-list {

        .nav__menu-item {
          text-decoration: none;
          color: $color-text;
          margin-right: 3rem;
          font-size: 1.5rem
        }
      }
    }

    .nav__toggle {
      display: none;
    }
  }
}