@import "../scssVariables/basic/colors";
@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Poppins:wght@400;700&display=swap');


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  padding: 1rem;

  .nav__logo {
    display: flex;
    align-items: center;

    .nav__logo-image {
      width: 4rem;
      height: 4rem;
      border: 1px solid transparent;
      border-radius: 50%;
    }

    .nav__logo-text {
      margin-left: 1rem;
      font-size: 3rem;
      color: $color-text;
      font-family: 'Chela One', sans-serif;
    }
  }

  .nav__menu {
    list-style: none;
    display: flex;

    .nav__menu-item {
      margin-right: 2rem;
      font-size: 2rem;
      text-decoration: none;
      color: $color-text;
      &:hover{
        opacity: 0.5;
      }
    }
  }

  .nav__toggle {
    display: none;
    background: transparent;
    border: none;
    font-size: 1.5rem;
  }


  @media screen and (max-width: 768px) {
    .nav__menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 5rem;
      left: 0;
      right: 0;
      background-color:$color-primary;
      padding: 1rem;
      z-index: 1000;

      &.open {
        display: flex;
      }

      .nav__menu-item {
        margin-bottom: 1rem;
      }
    }

    .nav__toggle {
      display: block;
      margin-right: 1rem;
      color: $color-text;
    }
  }
}
