@import "../scssVariables/basic/colors";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.contact {
  background-color: $color-primary;
  padding: 2rem 0 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact__container {
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-hover;
    color: $color-green;
    box-shadow: inset 2px 4px 45px 0 $color-primary;

    h2 {
      padding: 2rem 0;
      font-size: 4rem;
      font-family: 'Great Vibes', sans-serif;
    }

    .contact__box {
      position: relative;
      display: grid;
      grid-template-columns: 2fr 1fr;
      padding: 2rem 8rem;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 26rem;
        padding-left: 1rem;
        font-family: 'Great Vibes', sans-serif;

        input {
          height: 1.5rem;
          width: 20rem;
          margin: 0.5rem 0;
          padding: 0.9rem;
          border: none;
          border-bottom: 1px solid $color-green;
          background: none;
          text-align: center;
          font-size: 1.3rem;
        }

        textarea {
          margin: 1rem;
        }

        button {
          background-color: $color-green;
          margin: 0.89rem;
          padding: 0.5rem 2rem;
          border: 1px solid transparent;
          border-radius: 45px;
          font-weight: bold;
          letter-spacing: 0.2rem;

          &:hover {
            animation: pulsate 3s ease-in-out;
          }

          @keyframes pulsate {
            0% {
              box-shadow: 0 0 25px $color-green, 0 0 45px $color-accent;
            }
          }
        }
      }
    .contact__otherinfo{
     margin-top: -1rem;
      .contact__info-content{
        margin:0.5rem;
        .social__media-icons{
          display: flex;
          gap:1rem;
          justify-content: center;
        }
      }
    }
    }
  }
}