.about__container {
  margin: 6rem;
  display: flex;

  .about__text__section {
    color: $color-text;
    font-size: 2rem;
    .about__header{
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  .images__gallery {
    height: 20rem;
    width: 20rem;
    margin: 1rem;
  }
}