.footer-main-container {
  height: auto;
  background-color: $color-footer;
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    .copyright-footer {
      font-size: 20px;
      color: $color-text;
    }
    .main-name-page {
      font-size: 20px;
      color: $color-buttons;
      margin-left: 5px;
    }
  }
}