$color-primary:#49111C;
$color-secondary:#0A0908;
$color-buttons:#EAD2AC;
$color-footer:#424B54;
$color-pink:#EDAFB8;
$color-blue:#483D8B;
$color-accent:#00BFFF;
$color-hover:#563635;
$color-nav:#FFF8DC;
$color-text:#EAD2AC;
$color-red:#660000;
$color-offer:#D4AA7D;
$color-danger:#58A4B0;